<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <logger name="org.apache.cxf.service.invoker.AbstractInvoker" level="OFF" />
    <logger name="org.apache.cxf.services" level="WARN" additivity="false"/>

    <logger name="no.nav.altinnkanal" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="stdout_json" />
    </root>

</configuration>
