<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="false">

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%green(%d{HH:mm:ss}){faint} %cyan([%-5.5t]){faint} %cyan(%0.-5p) %yellow(%-40.40logger{39}){cyan}: [%mdc] %m%n</pattern>
        </encoder>
    </appender>

    <root level="OFF">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
